/**
 * @font-face LESS Mixin
 * use: .font-face(
 *   @font-family, // name
 *   @file-path,   // absolute/relative URL to font files
 *   @font-weight, // light/normal/bold/inherit | 300/400/700
 *   @font-style   // italic/normal/inherit
 * )
 */

/**
   * font LESS Mixin
   * use: .font(
   *   @font-family, // name
   *   @file-size,   // any unit/inherit
   *   @font-weight, // light/normal/bold/inherit | 300/400/700
   *   @font-style   // italic/normal/inherit
   * )
   */
@font-face {
  font-family: "NBSIcons";
  src: url('./nbs-icons/nbs_icons.eot?jwgaf60v');
  src: url('./nbs-icons/nbs_icons.eot?jwgaf60w#iefix') format('embedded-opentype'), url('./nbs-icons/nbs_icons.woff?jwgaf60w') format('woff'), url('./nbs-icons/nbs_icons.ttf?jwgaf60w') format('truetype'), url('./nbs-icons/nbs_icons.svg?jwgaf60w#./nbs-icons/nbs_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-nbs"],
[class*=" icon-nbs"] {
  /* stylelint-disable */
  font-family: "NBSIcons";
  font-size: normal;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  /* stylelint-enable */
  text-transform: none;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nbs-logo::before {
  content: "\e913";
}

.icon-nbs-close::before {
  content: "\e914";
  color: inherit;
}

.icon-nbs-help-empty::before {
  content: "\e915";
  color: inherit;
}

.icon-nbs-lock::before {
  content: "\e902";
  color: inherit;
}

.icon-nbs-warn::before {
  content: "\e90a";
  color: inherit;
}

.icon-nbs-check::before {
  content: "\e905";
  color: inherit;
}

.icon-nbs-expand::before {
  content: "\e906";
  color: inherit;
}

.icon-nbs-collapse::before {
  content: "\e907";
  color: inherit;
}

.icon-nbs-clock::before {
  content: "\e902";
  color: inherit;
}

.icon-nbs-help-filled::before {
  content: "\e909";
  color: inherit;
}

.icon-nbs-info::before {
  content: "\e909";
}

.icon-nbs-info-large::before {
  content: "\e912";
}

.icon-nbs-pound::before {
  content: "\e918";
}

.icon-nbs-dropdown::before {
  content: "\e919";
}

.icon-nbs-directdebt::before {
  content: "\e91b";
}

.icon-nbs-dropdownright::before {
  content: "\e91e";
}

.icon-nbs-lock::before {
  content: "\e916";
}

.icon-nbs-checkmark::before {
  content: "\e91f";
}

@font-face {
  font-family: "nbs-bold";
  src: url('./nbs-bold/nbs-bold-webfont.eot?jwgaf60x');
  src: url('./nbs-bold/nbs-bold-webfont.eot?jwgaf60x#iefix') format('embedded-opentype'), url('./nbs-bold/nbs-bold-webfont.woff?jwgaf60x') format('woff'), url('./nbs-bold/nbs-bold-webfont.ttf?jwgaf60x') format('truetype'), url('./nbs-bold/nbs-bold-webfont.svg?jwgaf60x#./nbs-bold/nbs-bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nbs-light";
  src: url('./nbs-light/nbs-light-webfont.eot?jwgaf60x');
  src: url('./nbs-light/nbs-light-webfont.eot?jwgaf60x#iefix') format('embedded-opentype'), url('./nbs-light/nbs-light-webfont.woff?jwgaf60x') format('woff'), url('./nbs-light/nbs-light-webfont.ttf?jwgaf60x') format('truetype'), url('./nbs-light/nbs-light-webfont.svg?jwgaf60x#./nbs-light/nbs-light-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nbs-medium";
  src: url('./nbs-medium/nbs-medium-webfont.eot?jwgaf60x');
  src: url('./nbs-medium/nbs-medium-webfont.eot?jwgaf60x#iefix') format('embedded-opentype'), url('./nbs-medium/nbs-medium-webfont.woff?jwgaf60x') format('woff'), url('./nbs-medium/nbs-medium-webfont.ttf?jwgaf60x') format('truetype'), url('./nbs-medium/nbs-medium-webfont.svg?jwgaf60x#./nbs-medium/nbs-medium-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nbs-mediumitalic";
  src: url('./nbs-mediumitalic/nbs-mediumitalic-webfont.eot?jwgaf60y');
  src: url('./nbs-mediumitalic/nbs-mediumitalic-webfont.eot?jwgaf60y#iefix') format('embedded-opentype'), url('./nbs-mediumitalic/nbs-mediumitalic-webfont.woff?jwgaf60y') format('woff'), url('./nbs-mediumitalic/nbs-mediumitalic-webfont.ttf?jwgaf60y') format('truetype'), url('./nbs-mediumitalic/nbs-mediumitalic-webfont.svg?jwgaf60y#./nbs-mediumitalic/nbs-mediumitalic-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
