/**
 * @font-face LESS Mixin
 * use: .font-face(
 *   @font-family, // name
 *   @file-path,   // absolute/relative URL to font files
 *   @font-weight, // light/normal/bold/inherit | 300/400/700
 *   @font-style   // italic/normal/inherit
 * )
 */

/**
   * font LESS Mixin
   * use: .font(
   *   @font-family, // name
   *   @file-size,   // any unit/inherit
   *   @font-weight, // light/normal/bold/inherit | 300/400/700
   *   @font-style   // italic/normal/inherit
   * )
   */
[class^="icon-nbs"],
[class*=" icon-nbs"] {
  /* stylelint-disable */
  font-family: "NBSIcons";
  font-size: normal;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  /* stylelint-enable */
  text-transform: none;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nbs-logo::before {
  content: "\e913";
}

.icon-nbs-close::before {
  content: "\e914";
  color: inherit;
}

.icon-nbs-help-empty::before {
  content: "\e915";
  color: inherit;
}

.icon-nbs-lock::before {
  content: "\e902";
  color: inherit;
}

.icon-nbs-warn::before {
  content: "\e90a";
  color: inherit;
}

.icon-nbs-check::before {
  content: "\e905";
  color: inherit;
}

.icon-nbs-expand::before {
  content: "\e906";
  color: inherit;
}

.icon-nbs-collapse::before {
  content: "\e907";
  color: inherit;
}

.icon-nbs-clock::before {
  content: "\e902";
  color: inherit;
}

.icon-nbs-help-filled::before {
  content: "\e909";
  color: inherit;
}

.icon-nbs-info::before {
  content: "\e909";
}

.icon-nbs-info-large::before {
  content: "\e912";
}

.icon-nbs-pound::before {
  content: "\e918";
}

.icon-nbs-dropdown::before {
  content: "\e919";
}

.icon-nbs-directdebt::before {
  content: "\e91b";
}

.icon-nbs-dropdownright::before {
  content: "\e91e";
}

.icon-nbs-lock::before {
  content: "\e916";
}

.icon-nbs-checkmark::before {
  content: "\e91f";
}
